.background {
  background-color: #0f172a;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img {
  height: 30vh;
  width: 20vw;
}

.heading {
  color: white;
  font-family: "Roboto";
}
